MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=
MOODLE_DATABASE_HOST=
MOODLE_DATABASE_PORT_NUMBER=
MOODLE_DATABASE_USER=
MOODLE_DATABASE_PASSWORD=
MOODLE_DATABASE_NAME=
MOODLE_USERNAME=
MOODLE_PASSWORD=
MOODLE_EMAIL=
MOODLE_SITE_NAME=
MOODLE_SKIP_BOOTSTRAP=