MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=

MOODLE_DATABASE_HOST=
MOODLE_DATABASE_PORT_NUMBER=
MOODLE_DATABASE_USER=
MOODLE_DATABASE_PASSWORD=
MOODLE_DATABASE_NAME=
MOODLE_USERNAME=
MOODLE_PASSWORD=
MOODLE_EMAIL=
MOODLE_SITE_NAME=
MOODLE_SKIP_BOOTSTRAP=


MOODLE_URL_BASE=
MOODLE_TOKEN=
DIRECTORIO_DESCARGAS=
TIPOS_RECURSOS_DEFAULT=
NIVEL_LOG=

MONGODB_HOST=
MONGODB_PORT=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DATABASE=

MONGO_EXPRESS_USERNAME=
MONGO_EXPRESS_PASSWORD=